.text-bold {
    font-weight: bold;
}

.text-italic {
    font-style: italic;
}

.content-border {
    border: 3px solid orangered;
    padding: 10px;
}

body {
    padding: 30px;
}

.form {
    margin-bottom: 30px !important;
}
